<!DOCTYPE html>
<html lang="ru" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Diagram load</title>
</head>
<body>

    <svg viewBox="0 0 64 64" style="width: 200px">
        <circle r="25%" cx="50%" cy="50%" style="fill: none; stroke: lightgray; stroke-width: 30%" />
        <circle r="25%" cx="50%" cy="50%" style="fill: none; stroke: #216ce4; stroke-width: 30%; stroke-dasharray: 40 100; stroke-dashoffset:   0" />
        <circle r="25%" cx="50%" cy="50%" style="fill: none; stroke: #fc5740; stroke-width: 30%; stroke-dasharray: 30 100; stroke-dashoffset: -40" />
        <circle r="25%" cx="50%" cy="50%" style="fill: none; stroke: #fd9a1e; stroke-width: 30%; stroke-dasharray: 20 100; stroke-dashoffset: -70" />
        <circle r="25%" cx="50%" cy="50%" style="fill: none; stroke: #30c432; stroke-width: 30%; stroke-dasharray: 10 100; stroke-dashoffset: -90" />
    </svg>

</body>
</html>